font-family: 'Golos Text', sans-serif;


*{padding: 0px;
margin: 0px;}


/* HEADER */
.menu-hamburguesa{
    display: none;
}
.header{
    /* background-color: rgb(0, 0, 83); */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    padding: 5px 20px;
    background: rgb(2,0,36);
background: linear-gradient(344deg, rgba(2,0,36,1) 0%, rgba(0,3,111,1) 31%, rgba(39,34,94,1) 52%, rgba(116,96,60,1) 67%, rgba(182,150,32,1) 85%, rgba(255,210,0,1) 100%);
}
.logo{
    width: 10rem;
    height: 5rem;
    margin-right: auto;
    border-radius: 100%;
}
.logo img{
    width: 10rem;
    height: 5rem;
    border-radius: 90px;
}
.header .nav-links{
    list-style: none;
    margin: 0px;
}
.header .nav-links a{
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    font-family: 'Golos Text', sans-serif;
}
.header li:hover{
    transform: scale(1.2);
}
.header li{
    display: inline-block;
    margin: 0 25px;
}
.nav-links li a:hover{
    color: #ffee00;
    font-family: 'Golos Text', sans-serif;
}

/* SECCIONES */

.seccion{
    width: 100%;
    height: 100vh;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    margin: 2rem;
    padding: 2rem;
}
.titulo h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 10rem;
}
.titulo p{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
}
.conector{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-style: italic;
    margin-left: 2rem;
}

/* SECCION 2 */
.secciones{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    display: flex;  
    align-items: center;
    
}
.img-contenedor{
    width: 768px;
    height: 528px;
    margin: 1.5rem;
}
.img{
    width: 768px;
    height: 528px;
    border-radius: 30px;
}
.texto{
    font-family: 'Bebas Neue', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;;
    font-size: 2rem;
    padding: 5rem;
    text-align: center;
}
.texto p{
    font-family: 'Roboto', sans-serif;
    padding: 2rem;
}

.texto h2{
    font-size: 5rem;
}

/* MEDIA QUERIES DEL INDEX, WIDTH 768PX*/

@media screen and (max-width: 768px)  {
    /* HEADER RESPONSIVE */
    .header .nav-links a{
        font-size: 1rem;
    }
    .logo{
        display: none;
    }
    .nav-links li a:hover{
        transform: none;
        color: white;
    }
    .header li:hover{
        transform: none;
    }
    .header{
        justify-content: center;
    }
    .nav-links{
        padding: 0px 10px;
    }
    /* ------------- */
    .secciones{
        grid-template-columns: 2fr 1fr;
        height: 25rem;
    }
    .titulo{
        padding: 1.5rem;
        margin: 1.5rem;
    }
    .titulo h1{
        font-size: 3rem;
    }
    .titulo p{
        font-size: 1.5rem;
        padding: 1rem;
        margin: 1rem;
    }
    .conector{
        font-size: 1.7rem;
    }
    .img-contenedor{
        height: 20rem;
        width: 20rem;
    }
    .img{
        height: 15rem;
        width: 20rem;
        border-radius: 5px;
    }
    .texto h2{
        font-size: 3rem;
    }
    .texto p{
        font-size: 1.2rem;
    }
    .texto{
        padding: 1rem;
    }
    .lista{
        margin: 0px;
    }
}
/* MEDIA QUERIES 368PX MOBILE */
@media screen and (max-width: 368px){
    
    
    .menu-hamburguesa{
        display: block;
        width: auto;
        height: 70px;
    }
    .navbar{
        width: auto;
    }
    /* header */
.header{
    display: none;
}
    /* -------- */
    .container-fluid img{
        height: 50px;
        width: 100px;
    }
    
    .seccion{
        width: 100%;
        height: auto;
    }
    .seccion p{
        font-size: 1rem;
    }
    .titulo{
        width: 100%;
        padding: 0rem;
        margin: 0.5rem;
    }
    .titulo p{
        padding: 0rem;
    }
    .secciones img{
        display: none;
    }
    .secciones{
        grid-template-columns: 0fr;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
    }
    .img-contenedor{
        display: none;
    }
}
/* ------------------------ */
/* INICIO */
.h1{
    font-family: 'Bebas Neue', cursive;
}
.h1 h1{
    font-size: 4rem;
}
/* CARD DE INICIO */

.header .nav-links a{
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    font-family: 'Golos Text', sans-serif;}

.card-inicio-contenedor{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    margin: 2.5rem;
    height: 30rem;
    border-radius: 10px;
    box-shadow: 5px 5px 4px 4px rgb(165, 165, 165);
}
.equipo1 p{
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
}
.equipo1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.equipo1 img{
    width: 22rem;
    height: 20.5rem;
    padding: 2rem;
}
.datos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.datos h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
}
.datos p{
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.h1{
    display: flex;
    justify-content: center;
    padding: 3rem;
}
/* ------------------------------- */
/* SECCION 1 */

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    height: 400px;
    padding: 2rem;
    margin: 2rem;
    background-color: rgb(207,207,207);
}

.article1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.article1 p{
    font-family: 'Roboto', sans-serif;
    margin: 40px;
    font-size: 1.5rem;
    color: black;
}
.article1 h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
}
.video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-left: 10rem;
}
/* --------------- */
/* SECCION 2 */
.seccion2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    background-color: rgb(207,207,207);
}
 .seccion2 img{
    height: 450px;
    width: 700px;
    border-radius: 10px;
 }

.texto-klay{
    margin: 2rem;
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}
/* ------------------ */
/* SECCION 3 */
.game-winner{
    display: grid;
    grid-template-rows: 1fr;
    text-align: center;
    font-size: 1.7rem;
    padding: 2rem;
    margin: 2rem;
}
.seccion2 p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}
/* ------------------------- */
/* SECCION 4 reutiliza css de seccion 2 */
.texto-wiggins{
    margin: 2rem;
    padding: 2rem;
}
/* SECCION 5      "        "        "  */
.texto-dray{
    margin: 2rem;
    padding: 2rem;
}
/* SECCION 6 */
.jugada-semanal{
    display: grid;
    grid-template-rows: 1fr;
    text-align: center;
}
.jugada-semanal p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 2rem;
}
.jugada-semanal h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
}
/* ---------------------- */
/* SECCION 7 */
.titulo-seccion7 h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
}
.titulo-seccion7{
    padding: 2rem;
}
.boton-historia{
    padding: 2rem;
}
.btn{
    width: 15rem;
    height: 5rem;
    background-color: darkblue;
    text-align: center;
    list-style: none;
}


/* ----------------------------- */
/* MEIDA QUERIES DE INICIO 768PX */
@media screen and (max-width: 768px){
    .logo{
        width: 10rem;
        height: 5rem;
        margin: 0.5rem;

    }
    .logo img{
        width: 10rem;
        height: 5rem;
    }
    .card-inicio-contenedor{
        padding: 1rem;
        height: 300px;
        margin: 1rem;
        grid-template-columns: 2fr 1fr 2fr;
        border-bottom-style: 100px;
        background-color: rgb(207, 207, 207);
    }
    .equipo1{
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .equipo1 img{
        width: 200px;
        height: 200px;
    }
    .equipo1 p{
        font-size: 3rem;
    }
    .article1 p{
        font-size: 1rem;
    }
    .video{
        padding: 0rem;
    }
    .video iframe{
        width: 300px;
    }
    .grid{
        padding: 1rem;
        margin: 1rem;
}
.texto-klay{
    padding: 1rem;
    margin: 1rem;
}
.texto-wiggins{
    margin: 1rem;
    padding: 1rem;
}
.texto-dray{
    margin: 1rem;
    padding: 1rem;
}
.jugada-semanal{
    margin: 1rem;
    padding: 1rem;
}
.jugada-semanal p{
    padding: 1rem;
}
/* SECCION 2 */
.seccion2{
    padding: 1rem;
    margin: 1rem;
}
.seccion2 img{
    width: 400px;
    height: 250px;
}
.seccion2 p{
    font-size: 0.9rem;
}
.jugada-semanal h2{
    font-size: 2.5rem;
}
.jugada-semanal p{
    font-size: 1.3rem;
}
.boton-historia{
    padding: 1rem;
}
.btn{
    width: 10rem;
    height: 3rem;
}
}
/* MEDIA QUERIES 368PX MOBILE */
@media screen and (max-width: 368px){
.header{
    display: none;
}
.menu-hamburguesa{
    display: block;
}

.h1{
    padding: 1rem;
}
.h1 h1{
    font-size: 2rem;
}
.card-inicio-contenedor{
    padding: 0rem;
    margin: 1rem 0rem;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 0.5fr 0.7fr;
    height: 100%;
    box-shadow: none;
}
.equipo1 img p{
    padding: 12px;
}
.equipo1 img{
    width: 8rem;
    height: 8rem;
}
.equipo1 p{
    font-size: 3rem
}
.equipo1{
    width: 100%;
    flex-direction: column;
}
.datos p{
    font-size: 1.2rem;
}
.datos h2{
    font-size: 4rem;
}
.grid{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0rem;
    padding: 0rem;
    width: 100%;
    height: 100%;
    text-align: center;
}
.article1 iframe{
    width: 15rem;
}
.video{
    width: 300px;
    margin-left: 35px;
}
.article1{
    margin: 0rem;
    padding: 0rem;
    width: 100%;
}
.article1 p{
    margin: 0rem;
    font-size: 1.2rem;
    width: 100%;
}
.article1 h2{
    font-size: 2.5rem;
    margin: 0rem;
    padding: 0rem;
}
.seccion2{
    margin: 2.5rem 0rem;
    padding: 0rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
.seccion2 img{
    height: 12rem;
    width: 19.5rem;
}
.texto-klay{
    padding: 0.5rem;
    margin: 0.5rem;
}
.texto-klay p{
    font-size: 1.2rem;
}
.img-klay p{
    margin: 0rem;
}
.img-klay{
    margin: 0.5rem;
}
.game-winner{
    margin: 0rem;
    padding: 0rem;
    margin-top: 5rem;
}
.game-winner p{
    font-size: 1.8rem;
}
..game-winner iframe{
    width: auto;
    height: auto;
}
.texto-wiggins{
    padding: 0.5rem;
    margin: 0.5rem;
}
.texto-wiggins p{
    font-size: 1.2rem;
}
.texto-dray p{
    font-size: 1.2rem;
}
.jugada-semanal{
    margin: 0rem;
    padding: 0rem;
}
.jugada-semanal p{
    padding: 0.5rem;
}
.jugada-semanal iframe{
    height: 250px;
}
.titulo-seccion7{
    padding: 0.5rem;
}
.titulo-seccion7 p{
    font-size: 1.2rem;
}
}

/* HISTORIA */
.seccion-historia{
    display: grid;
    grid-template-rows: 1fr;
    height: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 2rem;
    margin: 2rem;
}
.seccion-historia h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 6rem;
}


.seccion-historia img{
    width: 100%;
    height: 100%;
    padding-top: 2rem;
}
/* ERAS */
.grid-eras{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 0.5rem;
    height: 500px;
}
.card{
    width: 100%;
}
.titulo-eras{
    display: flex;
    justify-content: left;
    margin-left: 2rem;
    padding-left: 2rem;
    margin-top: 3rem;
    padding-top: 3rem;
}
.titulo-eras h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
}
.card img{
    height: 350px;
}
.card h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}
/* --------------------------------- */
/* SLIDES DE CAMPEONATOS */
.carrusel-contenedor{
    height: 100vh;
}


.carousel-item img{
    height:  55rem;
}
/* CALENDARIO */

.grid-calendario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
}
.contenedor-card img{
    height: 7rem;
    width: 12.5rem;
    padding: 0.5;
}
.contenedor-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* background-image: linear-gradient(#00036F, #FFD200); */
    text-align: center;
    border-radius: 10px;
    margin: 1.5rem;
    height: 15rem;
}
.datos-calendario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.team{
    margin: 1rem;
}
.contenedor-card p{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.datos-calendario :nth-child(2){
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
}
.datos-calendario p{
    font-size: 1.5rem;
}
.team :nth-child(2){
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    margin: 0.5rem;
}
.titulo-contenedor-calendario{
    text-align: center;
    margin: 4rem;
    font-family: 'Bebas Neue', cursive;
}
.titulo-contenedor-calendario h1{
    font-size: 4rem;
}



