.menu-hamburguesa {
  display: none;
  position: absolute;
}

.navbar {
  display: none;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 90px;
  padding: 5px 20px;
  background: rgb(2, 0, 36);
  background: linear-gradient(344deg, rgb(2, 0, 36) 0%, rgb(0, 3, 111) 31%, rgb(39, 34, 94) 52%, rgb(116, 96, 60) 67%, rgb(182, 150, 32) 85%, rgb(255, 210, 0) 100%);
}
.header .nav-links {
  list-style: none;
  margin: 0px;
}
.header .nav-links a {
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
  font-family: "Golos Text", sans-serif;
}
.header .nav-links a:hover {
  color: #ffee00;
}
.header .nav-links li {
  display: inline-block;
  margin: 0 25px;
}
.header .nav-links li:hover {
  transform: scale(1.2);
}
.header .logo {
  width: 10rem;
  height: 5rem;
  margin-right: auto;
  border-radius: 100%;
}
.header .logo img {
  width: 10rem;
  height: 5rem;
  border-radius: 90px;
}

.seccion {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../image/curry\ campeon.jpg);
  background-size: 100vw 100vh;
}
.seccion .titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
}
.seccion .titulo h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 8rem;
  color: #FFD200;
}
.seccion .titulo p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin: 0rem 2rem;
  color: white;
}
.seccion .conector {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  margin-left: 2rem;
  color: white;
}
.seccion .conector p {
  font-family: "Roboto", sans-serif;
}

.secciones {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  display: flex;
  align-items: center;
}
.secciones .img-contenedor {
  width: 40rem;
  height: 25rem;
  margin: 1rem;
}
.secciones .img-contenedor img {
  width: 40rem;
  height: 25rem;
  border-radius: 30px;
}
.secciones .texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}
.secciones .texto p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}
.secciones .texto h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 5rem;
}

@media screen and (max-width: 768px) {
  .header .logo {
    width: 9rem;
    height: 4rem;
  }
  .header .logo img {
    width: 9rem;
    height: 4rem;
  }
  .header .nav-links a {
    font-size: 1rem;
  }
  .header .nav-links li {
    margin: 0 12px;
  }
  .secciones .img-contenedor {
    width: 26rem;
    height: 18rem;
    margin: 1rem;
  }
  .secciones .img-contenedor img {
    width: 26rem;
    height: 18rem;
    border-radius: 30px;
  }
  .secciones .texto {
    font-size: 1rem;
  }
  .secciones .texto p {
    font-size: 1rem;
  }
  .secciones .texto h2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 368px) {
  .header {
    display: none;
  }
  .navbar {
    display: block;
  }
  .menu-hamburguesa {
    display: block;
  }
  .menu-hamburguesa .navbar {
    width: 368px;
    height: 70px;
  }
  .menu-hamburguesa img {
    width: 7rem;
    border-radius: 90px;
  }
  .seccion {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../image/curry\ fondo\ inicio.jpg);
  }
  .seccion .titulo h1 {
    font-size: 5rem;
  }
  .seccion .titulo p {
    font-size: 1rem;
  }
  .seccion .conector p {
    font-size: 1rem;
  }
  .secciones {
    grid-template-columns: 1fr;
    text-align: center;
    height: 35rem;
  }
  .secciones .texto {
    width: 100%;
    color: black;
    background: white;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
  }
  .secciones .img-contenedor {
    display: none;
  }
}
.h1 {
  font-family: "Bebas Neue", cursive;
  display: flex;
  justify-content: center;
  padding: 3rem;
}
.h1 h1 {
  font-size: 4rem;
  font-family: "Bebas Neue", cursive;
}

.card-inicio-contenedor {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  margin: 2.5rem;
  height: 30rem;
  border-radius: 10px;
  box-shadow: 5px 5px 4px 4px rgb(165, 165, 165);
}

.equipo1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.equipo1 img {
  width: 22rem;
  height: 20.5rem;
  padding: 2rem;
}
.equipo1 p {
  font-family: "Bebas Neue", cursive;
  font-size: 5rem;
}

.datos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.datos h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 5rem;
}
.datos p {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  height: 400px;
  padding: 2rem;
  margin: 2rem;
  background-color: rgb(207, 207, 207);
}
.grid .article1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.grid .article1 p {
  font-family: "Roboto", sans-serif;
  margin: 40px;
  font-size: 1.5rem;
  color: black;
}
.grid .article1 h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 5rem;
}
.grid .video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: 10rem;
}

.seccion2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  padding: 2rem;
  margin: 2rem;
  background-color: rgb(207, 207, 207);
}
.seccion2 img {
  height: 450px;
  width: 700px;
  border-radius: 10px;
}
.seccion2 .texto-klay {
  margin: 2rem;
  padding: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}
.seccion2 p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.game-winner {
  display: grid;
  grid-template-rows: 1fr;
  text-align: center;
  font-size: 1.7rem;
  padding: 2rem;
  margin: 2rem;
}

/* SECCION 4 reutiliza css de seccion 2 */
.texto-wiggins {
  margin: 2rem;
  padding: 2rem;
}

/* SECCION 5      "        "        "  */
.texto-dray {
  margin: 2rem;
  padding: 2rem;
}

.jugada-semanal {
  display: grid;
  grid-template-rows: 1fr;
  text-align: center;
}
.jugada-semanal p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  padding: 2rem;
}
.jugada-semanal h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 5rem;
  margin-top: 2rem;
}
.jugada-semanal iframe {
  width: 90%;
}

.titulo-seccion7 {
  padding: 2rem;
}
.titulo-seccion7 h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 5rem;
}

.boton {
  margin-top: 2rem;
  width: 15rem;
  height: 5rem;
  border-radius: 10rem;
  text-align: center;
}
.boton img {
  width: 24px;
  height: 24;
}

.historia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  padding: 2rem;
  margin: 2rem;
  background: white;
}
.historia img {
  height: 450px;
  width: 700px;
  border-radius: 10px;
}
.historia h2 {
  color: black;
}
.historia p {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}
.historia .boton {
  background: linear-gradient(344deg, rgb(2, 0, 36) 0%, rgb(0, 3, 111) 31%, rgb(39, 34, 94) 52%, rgb(116, 96, 60) 67%, rgb(182, 150, 32) 85%, rgb(255, 210, 0) 100%);
  border: 0px;
}
.historia .boton:hover {
  transform: scale(1.2);
  box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.5);
  transition: all 1s;
}
.historia .boton a {
  color: white;
  text-decoration: none;
  font-family: "Golos Text", sans-serif;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 10rem;
    height: 5rem;
    margin: 0.5rem;
  }
  .logo img {
    width: 10rem;
    height: 5rem;
  }
  .card-inicio-contenedor {
    padding: 1rem;
    height: 300px;
    margin: 1rem;
    grid-template-columns: 2fr 1fr 2fr;
    border-bottom-style: 100px;
    background-color: rgb(207, 207, 207);
  }
  .card-inicio-contenedor .equipo1 {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .card-inicio-contenedor .equipo1 img {
    width: 12.5rem;
    height: 12.5rem;
  }
  .card-inicio-contenedor .equipo1 p {
    font-size: 3rem;
  }
  .video {
    padding: 0rem;
  }
  .video iframe {
    width: 300px;
  }
  .grid {
    padding: 1rem;
    margin: 1rem;
  }
  .grid .article1 {
    margin-left: 2rem;
  }
  .grid .article1 p {
    font-size: 0.9rem;
    margin: 0rem;
  }
  .texto-klay {
    padding: 1rem;
    margin: 1rem;
  }
  .texto-wiggins {
    margin: 1rem;
    padding: 1rem;
  }
  .texto-dray {
    margin: 1rem;
    padding: 1rem;
  }
  .jugada-semanal {
    margin: 1rem;
    padding: 1rem;
  }
  .jugada-semanal p {
    padding: 1rem;
    font-size: 1.3rem;
  }
  .jugada-semanal h2 {
    font-size: 2.5rem;
  }
  .seccion2 {
    padding: 1rem;
    margin: 1rem;
  }
  .seccion2 img {
    width: 400px;
    height: 250px;
  }
  .seccion2 p {
    font-size: 0.9rem;
  }
  .historia {
    padding: 0rem;
    margin: 0rem;
    grid-template-columns: 1fr;
    height: 100vh;
  }
  .historia img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    border-radius: 0px;
  }
  .historia .titulo-seccion7 {
    position: relative;
    top: 6.5rem;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.4);
  }
  .historia .titulo-seccion7 h2 {
    font-size: 3rem;
    color: white;
  }
  .historia .titulo-seccion7 p {
    font-size: 1.3rem;
    color: white;
  }
  .historia .titulo-seccion7 .boton {
    width: 10rem;
    height: 4rem;
    box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.9);
    margin-top: 1rem;
  }
  .historia .titulo-seccion7 .boton a {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 368px) {
  .header {
    display: none;
  }
  .menu-hamburguesa {
    display: block;
  }
  .h1 {
    padding: 1rem;
  }
  .h1 h1 {
    font-size: 2rem;
  }
  .card-inicio-contenedor {
    padding: 0rem;
    margin: 1rem 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.1fr 0.3fr;
    box-shadow: none;
    height: 450px;
  }
  .equipo1 {
    width: 100%;
    flex-direction: row;
    height: 100%;
  }
  .equipo1 p {
    padding: 0.75rem;
  }
  #img-equipo1 {
    width: 150px;
    height: 150px;
  }
  #img-equipo2 {
    width: 150px;
    height: 150px;
  }
  .datos p {
    font-size: 1rem;
  }
  .datos h2 {
    font-size: 2.5rem;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0rem;
    padding: 0rem;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .grid .article1 {
    margin: 0rem;
    padding: 0rem;
    width: 100%;
  }
  .grid .article1 iframe {
    width: 15rem;
  }
  .grid .article1 p {
    margin: 0rem;
    font-size: 1.2rem;
    width: 100%;
  }
  .grid .article1 h2 {
    font-size: 2.5rem;
    margin: 0rem;
    padding: 0rem;
  }
  .grid .video {
    width: 300px;
    margin-left: 35px;
    padding: 0px;
  }
  .seccion2 {
    margin: 2.5rem 0rem;
    padding: 0rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .seccion2 img {
    height: 12rem;
    width: 19.5rem;
  }
  .texto-klay {
    padding: 2rem;
    margin: 0px;
  }
  .texto-klay p {
    font-size: 1rem;
  }
  .img-klay {
    margin: 0.2rem;
  }
  .game-winner {
    padding: 0px;
    margin: 0px;
  }
  .jugada-semanal {
    margin: 0rem;
    text-align: center;
    padding: 0rem;
  }
  .historia {
    height: 571px;
    padding: 0rem;
    margin: 0rem;
    grid-template-columns: 1fr;
  }
  .historia .img-contenedor-73-9 {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
  }
  .historia .titulo-seccion7 {
    position: relative;
    top: 0rem;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.4);
  }
  .historia .titulo-seccion7 h2 {
    font-size: 3rem;
    color: white;
  }
  .historia .titulo-seccion7 p {
    font-size: 1.3rem;
    color: white;
  }
  .historia .titulo-seccion7 .boton {
    width: 10rem;
    height: 4rem;
    box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.9);
    margin-top: 1rem;
  }
  .historia .titulo-seccion7 .boton a {
    font-size: 1.2rem;
  }
}
.card-general, .contenedor-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  border-radius: 10px;
  margin: 0.5rem;
  height: 12rem;
}

.menu-hamburguesa {
  display: block;
  width: auto;
  height: 70px;
}
@media screen and (min-width: 768px) {
  .menu-hamburguesa {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .menu-hamburguesa {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-hamburguesa {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .menu-hamburguesa {
    display: none;
  }
}

.grid-calendario {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
@media screen and (min-width: 768px) {
  .grid-calendario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .grid-calendario {
    margin: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .grid-calendario {
    margin: 1.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .grid-calendario {
    margin: 1.5rem;
  }
}

.contenedor-card {
  background-color: #FFD200;
}
.contenedor-card img {
  height: 3.5rem;
  width: 8rem;
  margin: 0.5rem;
}
.contenedor-card .datos-calendario {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contenedor-card .datos-calendario :nth-child(2) {
  font-size: 2.2rem;
  font-family: "Bebas Neue", cursive;
}
.contenedor-card .datos-calendario p {
  font-size: 0.8rem;
}
@media screen and (min-width: 1024px) {
  .contenedor-card .datos-calendario :nth-child(2) {
    font-size: 3rem;
  }
  .contenedor-card .datos-calendario p {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .contenedor-card .datos-calendario :nth-child(2) {
    font-size: 4rem;
  }
  .contenedor-card .datos-calendario p {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .contenedor-card {
    margin: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .contenedor-card {
    height: 14rem;
  }
  .contenedor-card img {
    height: 6rem;
    width: 11rem;
    margin: 0.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .contenedor-card {
    height: 15rem;
  }
}
@media screen and (min-width: 1440px) {
  .contenedor-card {
    height: 17rem;
  }
  .contenedor-card img {
    height: 7rem;
    width: 13rem;
  }
}

.team {
  margin: 1rem 0rem;
}
.team :nth-child(2) {
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
  margin: 0.5rem;
}
.team :nth-child(3) {
  margin: 0.5rem 0rem;
}
@media screen and (min-width: 1024px) {
  .team {
    margin-top: 0.5rem;
  }
  .team :nth-child(2) {
    font-size: 2rem;
    margin: 0.3rem;
  }
  .team :nth-child(3) {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .team :nth-child(2) {
    font-size: 2.2rem;
  }
  .team :nth-child(3) {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1440px) {
  .team :nth-child(2) {
    font-size: 2.5rem;
  }
  .team :nth-child(3) {
    font-size: 1.5rem;
  }
}

.titulo-contenedor-calendario {
  text-align: center;
  margin: 2rem;
  font-family: "Bebas Neue", cursive;
}
.titulo-contenedor-calendario h1 {
  font-size: 2.5rem;
}
@media screen and (min-width: 1200px) {
  .titulo-contenedor-calendario {
    margin: 3rem;
  }
  .titulo-contenedor-calendario h1 {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 1440px) {
  .titulo-contenedor-calendario {
    margin: 5rem;
  }
  .titulo-contenedor-calendario h1 {
    font-size: 5rem;
  }
}

#seccion-historia {
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../image/chase\ center2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.titulo-historico {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  padding: 2rem;
}
.titulo-historico h1 {
  color: white;
  font-size: 5rem;
}

.texto-historico {
  font-family: "Roboto", sans-serif;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  margin: 1rem;
  text-align: start;
  align-items: center;
}
.texto-historico img {
  width: 27rem;
  border-radius: 10px;
  margin: 0rem 1.2rem;
}
.texto-historico p {
  padding: 1rem;
}

.texto-historico2 {
  font-family: "Roboto", sans-serif;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  margin: 1rem;
  text-align: start;
  align-items: center;
}
.texto-historico2 img {
  width: 27rem;
  border-radius: 10px;
  margin: 0rem 1.2rem;
}
.texto-historico2 p {
  padding: 1rem;
}

.seccion-eras {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1.5rem;
  margin: 1.2rem;
  grid-template-rows: 1fr;
}

.card {
  position: relative;
  width: 100%;
  height: 35rem;
}
.card div {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  transition: all 1s;
  transform: scale(-1);
  overflow: hidden;
}
.card .frente {
  transform: perspective(500px) rotateY(0deg);
  text-align: center;
  border-radius: 1rem;
}
.card .frente h2 {
  position: absolute;
  bottom: 0rem;
  width: 100%;
  height: 6rem;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  font-family: "Bebas Neue", cursive;
  padding: 1rem;
  border-radius: 0rem 0rem 1rem 1rem;
}
.card .frente img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
}
.card .dorso {
  background: #00036F;
  transform: perspective(500px) rotateY(180deg);
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2rem;
}
.card .dorso h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
}
.card .dorso p {
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  font-size: 0.9rem;
}

.card:hover .frente {
  transform: perspective(500px) rotateY(180deg);
  box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
}

.card:hover .dorso {
  transform: perspective(500px) rotateY(360deg);
  box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.5);
}

.titulo-eras {
  display: flex;
  justify-content: left;
  margin: 2rem;
  padding: 2rem;
  margin-top: 3rem;
  padding-top: 3rem;
}
.titulo-eras h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 4rem;
}

.carrusel-contenedor {
  height: 46.5rem;
}

.carousel-item img {
  width: 90%;
  height: 46.5rem;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}
.carousel-caption h3 {
  font-size: 2.7rem;
  font-family: "Bebas Neue", cursive;
}
.carousel-caption p {
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  padding: 0.3rem;
}

@media screen and (max-width: 768px) {
  #seccion-historia h1 {
    font-size: 4rem;
  }
  .texto-historico p {
    font-size: 1.1rem;
    padding: 0.2rem;
    width: 22rem;
  }
  .texto-historico img {
    width: 22rem;
    margin: 0.5rem;
  }
  .texto-historico2 p {
    font-size: 1.1rem;
    padding: 0.2rem;
  }
  .texto-historico2 img {
    display: none;
  }
}
.seccion-eras {
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
}

.carrusel-contenedor {
  height: 20rem;
}
.carrusel-contenedor .carousel-item img {
  width: 90%;
  height: 0rem;
}

.card .dorso h2 {
  font-size: 2rem;
}
.card .dorso p {
  padding: 0rem 1rem;
}

.titulo-jugadores {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  font-family: "Bebas Neue", cursive;
}
.titulo-jugadores h1 {
  font-size: 3rem;
}

.grid-jugadores {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
@media screen and (min-width: 768px) {
  .grid-jugadores {
    grid-template-rows: 1fr;
    row-gap: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .grid-jugadores {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
    row-gap: 1.5rem;
    margin: 2rem;
  }
}

.card-jugadores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  height: 9rem;
  margin: 0.5rem;
  background: linear-gradient(344deg, rgb(2, 0, 36) 0%, rgb(0, 3, 111) 31%, rgb(39, 34, 94) 52%, rgb(116, 96, 60) 67%, rgb(182, 150, 32) 85%, rgb(255, 210, 0) 100%);
  border-radius: 10px;
}
.card-jugadores h2 {
  font-size: 1.1rem;
  font-family: "Bebas Neue", cursive;
  margin-top: 0.5rem;
  color: rgb(255, 255, 255);
}
.card-jugadores p {
  font-family: "Golos Text", sans-serif;
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
}
.card-jugadores .foto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
.card-jugadores .foto img {
  width: 5rem;
}
.card-jugadores div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .card-jugadores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: linear-gradient(344deg, rgb(2, 0, 36) 0%, rgb(0, 3, 111) 31%, rgb(39, 34, 94) 52%, rgb(116, 96, 60) 67%, rgb(182, 150, 32) 85%, rgb(255, 210, 0) 100%);
    height: 100%;
    margin: 1rem;
    color: white;
  }
  .card-jugadores h2 {
    font-size: 1.2rem;
  }
  .card-jugadores p {
    font-size: 1rem;
  }
  .card-jugadores .foto img {
    width: 7rem;
  }
}
@media screen and (min-width: 1024px) {
  .card-jugadores {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .card-jugadores:hover {
    transform: scale(1.1);
    box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.4);
  }
  .card-jugadores div {
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
  }
  .card-jugadores div h2 {
    color: white;
  }
  .card-jugadores div p {
    margin: 0;
    padding-left: 1rem;
    color: white;
  }
  .card-jugadores .foto :nth-child(3) {
    padding: 0;
  }
}

/*# sourceMappingURL=estilos.css.map */
