// HEADER
$color-base: #00036F;
$color-amarillo-base: #FFD200;
$gradiente-nav: linear-gradient(344deg, rgba(2,0,36,1) 0%, rgba(0,3,111,1) 31%, rgba(39,34,94,1) 52%, rgba(116,96,60,1) 67%, rgba(182,150,32,1) 85%, rgba(255,210,0,1) 100%);
$fondo-img: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)),
url();
$font-titulo:'Bebas Neue', cursive;
$font-texto:'Roboto', sans-serif;
$sombra: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
.menu-hamburguesa{
    display: none;
    position: absolute;
}
.navbar{
    display: none;
}

.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 90px;
    padding: 5px 20px;
    background: rgb(2,0,36);
    background: linear-gradient(344deg, rgba(2,0,36,1) 0%, rgba(0,3,111,1) 31%, rgba(39,34,94,1) 52%, rgba(116,96,60,1) 67%, rgba(182,150,32,1) 85%, rgba(255,210,0,1) 100%);
    .nav-links{
        list-style: none;
        margin: 0px;
        a{
            font-size: 1.1rem;
            color: white;
            text-decoration: none;
            font-family: 'Golos Text', sans-serif;
            &:hover{
                color: #ffee00;
            }
        }
        li{
            display: inline-block;
            margin: 0 25px;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
    .logo{
        width: 10rem;
        height: 5rem;
        margin-right: auto;
        border-radius: 100%;
        img{
            width: 10rem;
            height: 5rem;
            border-radius: 90px;
        }
    }
}


.seccion{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)),
    url(../image/curry\ campeon.jpg);
    background-size: 100vw 100vh;
    .titulo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90%;
        h1{
            font-family: 'Bebas Neue', cursive;
            font-size: 8rem;
            color: #fbff00;
        }
        p{
            font-family: 'Roboto', sans-serif;
            font-size: 1.5rem;
            text-align: center;
            margin: 0rem 2rem;
            color: white;
        }
    }
    .conector{
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        font-style: italic;
        margin-left: 2rem;
        color: white;
        p{
            font-family: 'Roboto', sans-serif;
        }
    }
}
.secciones{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;  
    align-items: center;
    .img-contenedor{
        width: 40rem;
        height: 25rem;
        margin: 1rem;
        img{
            width: 40rem;
            height: 25rem;
            border-radius: 30px;
            }
            
        }
    }
    .texto{
        display: flex;
        flex-direction: column;
        align-items: center;;
        font-size: 2rem;
        padding: 1rem;
        text-align: center;
        p{
            font-family: $font-texto;
            font-size: 1.5rem;
        }
        h2{
            font-family: $font-titulo;
            font-size: 5rem;
        }
    }

// MEDIA QUERIES (768PX)
@media screen and (max-width: 768px){
   
    .header{
        .logo{
            width: 9rem;
            height: 4rem;
            img{
                width: 9rem;
                height: 4rem;
            }
        }
        .nav-links{
            a{
                font-size: 1rem;
            }
            li{
                margin: 0 12px;
            }
        }
    }
    .secciones{
        .img-contenedor{
            width: 26rem;
            height: 18rem;
            margin: 1rem;
            img{
                width: 26rem;
                height: 18rem;
                border-radius: 30px;
            }
        }
        .texto{
            font-size: 1rem;
            p{
                font-size: 1rem;
            }
            h2{
                font-size: 3rem;
            }
        }
    }
}
@media screen and (max-width: 368px){
    .header{
        display: none;
    }
    .navbar{
        display: block;
    }
    .menu-hamburguesa{
        display: block;
        .navbar{
            width: 368px;
            height: 70px;
        }
        img{
            width: 7rem;
            border-radius: 90px;
        }
        
    }
    .seccion{
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        background: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)),
        url(../image/curry\ fondo\ inicio.jpg);
        .titulo{
            h1{
                font-size: 5rem;
            }
            p{
                font-size: 1rem;
            }
        }
        .conector{
            p{
                font-size: 1rem;
            }
        }
    }
    .secciones{
        grid-template-columns: 1fr;
        text-align: center;
        height: 35rem;
        .texto{
            width: 100%;
            color: black;
            background: white;
            margin: 1rem;
            border-radius: 10px;
            box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
        }
        .img-contenedor{
            display: none;
        }

    }
}
