$font-titulo:5rem;
$color-base: #00036F;
$color-amarillo-base: #FFD200;
$gradiente-nav: linear-gradient(344deg, rgba(2,0,36,1) 0%, rgba(0,3,111,1) 31%, rgba(39,34,94,1) 52%, rgba(116,96,60,1) 67%, rgba(182,150,32,1) 85%, rgba(255,210,0,1) 100%);
$font-golos: 'Golos Text', sans-serif;



.h1{
    font-family: 'Bebas Neue', cursive;
    display: flex;
    justify-content: center;
    padding: 3rem;
    h1{
        font-size: 4rem;
        font-family: 'Bebas Neue', cursive;
    }
}
// CARD DE INICIO
.card-inicio-contenedor{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    margin: 2.5rem;
    height: 30rem;
    border-radius: 10px;
    box-shadow: 5px 5px 4px 4px rgb(165, 165, 165);
}

.equipo1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    img{
        width: 22rem;
        height: 20.5rem;
        padding: 2rem;
    }
    p{
        font-family: 'Bebas Neue', cursive;
        font-size: 5rem; 
    }
}

.datos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h2{
        font-family: 'Bebas Neue', cursive;
        font-size: 5rem;
    }
    p{
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
    }
}

// SECCION 1

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    height: 400px;
    padding: 2rem;
    margin: 2rem;
    background-color: rgb(207,207,207);
    .article1{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        p{
            font-family: 'Roboto', sans-serif;
            margin: 40px;
            font-size: 1.5rem;
            color: black; 
        }
        h2{
            font-family: 'Bebas Neue', cursive;
            font-size: 5rem; 
        }
    }
    .video{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding-left: 10rem; 
    }
}
// SECCION 2
.seccion2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    background-color: rgb(207,207,207);
    img{
        height: 450px;
        width: 700px;
        border-radius: 10px;
    }
    .texto-klay{
        margin: 2rem;
        padding: 2rem;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
    }
    p{
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem; 
    }
}
// SECCION 3
.game-winner{
    display: grid;
    grid-template-rows: 1fr;
    text-align: center;
    font-size: 1.7rem;
    padding: 2rem;
    margin: 2rem;
}
/* SECCION 4 reutiliza css de seccion 2 */
.texto-wiggins{
    margin: 2rem;
    padding: 2rem;
}
/* SECCION 5      "        "        "  */
.texto-dray{
    margin: 2rem;
    padding: 2rem;
}
// SECCION 6
.jugada-semanal{
    display: grid;
    grid-template-rows: 1fr;
    text-align: center;
    p{
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        padding: 2rem;
    }
    h2{
        font-family: 'Bebas Neue', cursive;
        font-size: 5rem;
        margin-top: 2rem;
    }
    iframe{
        width: 90%;
    }
}
// SECCION 7
.titulo-seccion7{
    padding: 2rem;
    h2{
        font-family: 'Bebas Neue', cursive;
        font-size: 5rem;
    }
}
.boton{
    margin-top: 2rem;
    width: 15rem;
    height: 5rem;
    border-radius: 10rem;
    text-align: center;

    img{
        width: 24px;
        height: 24;
    }
}
.historia{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    background: white;
    img{
        height: 450px;
        width: 700px;
        border-radius: 10px;
    }
    h2{
        color: black;
    }
    p{
        color: black;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
    }
    .boton{
        background: $gradiente-nav;
        border: 0px;
        &:hover{
            transform: scale(1.2);
            box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.5);
            transition: all 1s;
        }
        a{
            color: white;
            text-decoration: none;
            font-family: $font-golos;
            font-size: 1.5rem;
        }
    }
}




// MEDIA QUERIES DE INICIO 768PX
@media screen and (max-width: 768px){
    .logo{
        width: 10rem;
        height: 5rem;
        margin: 0.5rem;
        img{
            width: 10rem;
            height: 5rem;
        }
    }
    // CARD DE INICIO
    .card-inicio-contenedor{
        padding: 1rem;
        height: 300px;
        margin: 1rem;
        grid-template-columns: 2fr 1fr 2fr;
        border-bottom-style: 100px;
        background-color: rgb(207, 207, 207);
        .equipo1{
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
            img{
                width: 12.5rem;
                height: 12.5rem;
            }
            p{
                font-size: 3rem;
            }
        }
    }
    // -------------------------
    .video{
        padding: 0rem;
        iframe{
            width: 300px;
        }
    }
    .grid{
        padding: 1rem;
        margin: 1rem;
        .article1{
            margin-left: 2rem;
            p{
                font-size: 0.9rem;
                margin: 0rem;
            }
        }
    }
    .texto-klay{
        padding: 1rem;
        margin: 1rem;
        }
    .texto-wiggins{
        margin: 1rem;
        padding: 1rem;
        }
    .texto-dray{
        margin: 1rem;
        padding: 1rem;
        }
    .jugada-semanal{
    margin: 1rem;
    padding: 1rem;
    p{
        padding: 1rem;
        font-size: 1.3rem;
    }
    h2{
        font-size: 2.5rem;
    }
    }
    .seccion2{
        padding: 1rem;
        margin: 1rem;
        img{
            width: 400px;
            height: 250px;
        }
        p{
            font-size: 0.9rem;
        }

    }
    .historia{
        padding: 0rem;
        margin: 0rem;
        grid-template-columns: 1fr;
        height: 100vh;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            left: 0;
            border-radius: 0px;
        }
        .titulo-seccion7{
            position: relative;
            top: 6.5rem;
            width: 100%;
            
            color: white;
            background: rgb(0,0,0,.4);
            h2{
                font-size: 3rem;
                color: white;
            }
            p{
                font-size: 1.3rem;
                color: white;
            }
            .boton{
                width: 10rem;
                height: 4rem;
                box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.9);
                margin-top: 1rem;
                a{
                    font-size: 1.2rem;
                }
            }
        }
    }
}
// MEDIA QUERIES 368PX (MOBILE)
@media screen and (max-width: 368px){
    .header{
        display: none;
    }
    .menu-hamburguesa{
        display: block;
    }
    .h1{
        padding: 1rem;
        h1{
            font-size: 2rem;
        }
    }
    .card-inicio-contenedor{
        padding: 0rem;
        margin: 1rem 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.1fr 0.3fr;
        box-shadow: none;
        height: 450px;
    }
    .equipo1{
        width: 100%;
        flex-direction: row;
        height: 100%;
        p{
            padding: 0.75rem;
        }
    }
    #img-equipo1{
        width: 150px;
        height: 150px;
    }
    #img-equipo2{
        width: 150px;
        height: 150px;
    }
    .datos{
        p{
            font-size: 1rem;
        }
        h2{
            font-size: 2.5rem;
        }
    }
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 0rem;
        padding: 0rem;
        width: 100%;
        height: 100%;
        text-align: center;
        .article1{
            margin: 0rem;
            padding: 0rem;
            width: 100%;
            iframe{
                width: 15rem;
            }
            p{
                margin: 0rem;
                font-size: 1.2rem;
                width: 100%;  
            }
            h2{
                font-size: 2.5rem;
                margin: 0rem;
                padding: 0rem; 
            }
        }
        .video{
            width: 300px;
            margin-left: 35px;
            padding: 0px;
        }
    }
    // SECCION 2 (KLAY)
    .seccion2{
        margin: 2.5rem 0rem;
        padding: 0rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        img{
            height: 12rem;
            width: 19.5rem;
        }
    }
    .texto-klay{
        padding: 2rem;
        margin: 0px;
        p{
            font-size: 1rem;
        }
    }
    .img-klay{
        margin: 0.2rem;
    }
    //  GAME WINNER
    .game-winner{
        padding: 0px;
        margin: 0px;
    }
    // JUGADA SEMANAL
    .jugada-semanal{
        margin: 0rem;
        text-align: center;
        padding: 0rem;
    }
.historia{
    height: 571px;
    padding: 0rem;
    margin: 0rem;
    grid-template-columns: 1fr;
    .img-contenedor-73-9{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        left: 0;
    }
    .titulo-seccion7{
        position: relative;
        top: 0rem;
        width: 100%;
        color: white;
        background: rgb(0,0,0,.4);
        h2{
            font-size: 3rem;
            color: white;
        }
        p{
            font-size: 1.3rem;
            color: white;
        }
        .boton{
            width: 10rem;
            height: 4rem;
            box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.9);
            margin-top: 1rem;
            a{
                font-size: 1.2rem;
            }
        }
    }
}
}