$color-base: #00036F;
$color-amarillo-base: #FFD200;
$gradiente-nav: linear-gradient(344deg, rgba(2,0,36,1) 0%, rgba(0,3,111,1) 31%, rgba(39,34,94,1) 52%, rgba(116,96,60,1) 67%, rgba(182,150,32,1) 85%, rgba(255,210,0,1) 100%);
$fondo-img: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)),
url();
$font-titulo:'Bebas Neue', cursive;
$font-texto:'Roboto', sans-serif;
$sombra: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);




.titulo-jugadores{
    text-align: center;
    font-family: $font-titulo;
    margin: 6rem;
    h1{
        font-size: 5rem;
    }
}


.grid-jugadores{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 8rem;
    row-gap: 8rem;
    margin: 4rem;
}

.card-jugadores{
    position: relative;
    width: 100%;
    height: 25rem;
    div{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        // justify-content: center;
        // flex-direction: column;
        backface-visibility: hidden;
        transition: 1s;
    }
    .front{
        background: #00036F;
        transform: perspective(500px) rotateY(0deg);
        border-radius: 3rem;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 3rem;
        }
        .nombre{
            display: flex;
            flex-direction: column;
            bottom: 0rem;
            background: rgb(0,0,0, .4);
            height: 5rem;
            position: absolute;
            color: white;
            border-radius: 3rem;
            font-family: $font-titulo;
            h2{
                margin: 0.2rem;
            }
            p{
                font-family: $font-texto;
            }
        }
    }
    .back{
        background: $color-base;
        transform: perspective(500px) rotateY(180deg);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
        border-radius: 3rem;
        color: white;
    }
}
.card-jugadores:hover .front{
        transform: perspective(500px) rotateY(180deg);
        box-shadow: $sombra;
}
.card-jugadores:hover .back{
    transform: perspective(500px) rotateY(360deg);
    box-shadow: $sombra;
    transform: scale(1.1);
}

@media screen and (max-width: 768px){
    .grid-jugadores{
        margin: 3rem;
        column-gap: 3rem;
    }
    .card-jugadores{
        .front{
            .nombre{
                border-radius: 1rem 1rem 3rem 3rem;
                h2{
                    font-size: 1.5rem;
                }
            }
        }
    }
}
@media screen and (max-width: 700px){
    .grid-jugadores{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 500px){
    .grid-jugadores{
        column-gap: 1rem;
        margin: 2rem;
    }
}
@media screen and (max-width: 368px) {
    .titulo-jugadores{
        margin: 3rem;
    }
    .grid-jugadores{
        grid-template-columns:  1fr;
        column-gap: 2rem;
        margin: 1rem;    
    }
}